mixin lounge-nav(className)
	.lounge-nav(class=className)
		a.lounge-nav__link._green(href="javascript:void(0);") Персей (С)
		a.lounge-nav__link._red(href="javascript:void(0);") Янтарный (F)
		a.lounge-nav__link._violet(href="javascript:void(0);") Галактика (Е)
		a.lounge-nav__link._orange(href="javascript:void(0);") Classic Lounge (F)