mixin lounge-nav(className)
	.lounge-nav(class=className)
		a.lounge-nav__link._green(href="./lounge.html") Персей (С)
		a.lounge-nav__link._red(href="./lounge.html") Звездный (F)
		a.lounge-nav__link._violet(href="./lounge.html") Галактика (Е)
		a.lounge-nav__link._orange(href="./lounge.html") Classic Lounge (F)