mixin lounge-grid()
	.lounge-grid
		+lounge('lounge-grid__item', 'Зал Персей', 'терминал C', '2500', '+7 (495) <strong>578-3436</strong>', 'green')
		+lounge('lounge-grid__item', 'Зал Галактика', 'терминал E', '2500', '+7 (495) <strong>578-3436</strong>', 'violet')
		+lounge('lounge-grid__item', 'Classic Lounge', 'терминал F', '2500', '+7 (495) <strong>578-3436</strong>', 'red')
		+lounge('lounge-grid__item', 'Зал Звездный', 'терминал F', '2500', '+7 (495) <strong>578-3436</strong>', 'orange')