.heading {
	color: #fff;
	text-align: center;
	margin-bottom: 42px;

	&__title {
		font-size: 99px;
		font-family: @fontFamilyBebas;
		font-weight: 700;
		letter-spacing: 2px;
		line-height: 119px;
	}

	&__subtitle {
		position: relative;
		font-family: @fontFamilySans;
		font-size: 18px;
		line-height: 19px;
		font-weight: 400;
		margin-bottom: 50px;

		&-text {
			display: inline-block;
			vertical-align: middle;
			width: 440px;
		}

		&:before, &:after {
			content: '';
			display: inline-block;
			width: 135px;
			height: 2px;
			background-color: #FFFFFF;
			position: relative;
			vertical-align: middle;
		}

		&:before {
		}

		&:after {
		}
	}

	&__btn {
	}
}