mixin heading(className, title, subtitle)
	.heading(class=className)
		.heading__title= title
		.heading__subtitle
			span.heading__subtitle-text!= subtitle
		+order-btn('heading__btn', 'Забронировать')
		.header__order-form
			+order-form('mfp-hide')