.section {
	position: relative;
	color: #003366;
	font-size: 19px;
	text-align: center;
	font-weight: 300;
	
	&__heading {
		display: inline-block;
		width: 740px;
		border-bottom: 9px solid #66CCFF;
		margin-bottom: 35px;
		padding-bottom: 12px;
	}

	&__title {
		font-size: 80px;
		font-family: @fontFamilyBebas;
		font-weight: 700;
		margin: 0;
		text-transform: uppercase;
		line-height: 85px;
	}

	&__subtitle {
		display: block;
		text-transform: uppercase;
		text-align: right;
		font-weight: 300;
		font-size: 32px;
		margin: 0;
		padding-right: 108px;

		&._no_uppercase {
			text-transform: none;
		}
	}

	&__content {
		display: inline-block;
		width: 100%;
		padding: 20px 0 0;

		p {
			line-height: 23px;
			margin: 0 0 24px;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__link {
		
	}

	&__background {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;           // Expand video
		min-height: 100%;
		width: auto;               // Keep aspect ratio
		height: auto;

		top: 50%;                  // Vertical center offset
		left: 50%;                 // Horizontal center offset

		transform: translate(-50%,-50%);         // Cover effect: compensate the offset
	}

	&._info {
		 &:after {
		 	content: '';
		 	position: absolute;
		 	display: inline-block;
		 	background: #fff;
		 	width: 36px;
		 	height: 36px;
		 	margin-left: -19px;
		 	bottom: -17px;
		 	transform: rotate(45deg);
		 	z-index: 2;
		 }
	}

	&._info & {
		&__wrapper {
			padding: 87px 0 134px;

			&:after {
				content: '';
				position: absolute;
				top: 40px;
				left: -24px;
				display: inline-block;
				width: 570px;
				height: 570px;
				background: url('@{imagesPath}/info.png') no-repeat;
				background-size: contain;
				z-index: -1;
			}
		}

		&__content {
			display: inline-block;
			width: 750px;
		}
	}

	&._star & {

		&__wrapper {
			padding: 76px 0 169px;

			&:after {
				content: '';
				position: absolute;
				top: -65px;
				left: -24px;
				display: inline-block;
				width: 570px;
				height: 570px;
				background: url('@{imagesPath}/star.png') no-repeat;
				background-size: contain;
				z-index: -1;
			}
		}

		&__content {
			width: 700px;
			margin: 0 0 61px 42px;
		}
	}

	&._lounge {
		padding: 89px 0 57px;
		background: url('@{imagesPath}/posters/lounge-main.jpg') no-repeat;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #7F7F7F;
			background: rgba(127, 127, 127, 0.4);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
				filter: alpha(opacity=40);
			z-index: 1;
		}
	}

	&._lounge & {
		&__wrapper {
			z-index: 2;
		}
	}

	&._contacts {
		font-size: 0;
	}

	&._contacts & {
		
		&__contacts {
			position: absolute;
			top: -67px;
			left: 4px;
			z-index: 1;
		}
	}

	&._page {
		text-align: left;
		padding-top: 109px;
	}

	&._page & {

		&__heading {
			width: 742px;
			padding-bottom: 11px;
			white-space: nowrap;
			margin-bottom: 10px;
		}

		&__title {
			font-size: 83px;
			display: block;
		}

		&__subtitle {
			display: inline-block;
			vertical-align: top;
			margin-left: 268px;
			padding-right: 0;
			margin-right: 47px;
			white-space: normal;
			text-align: left;
		}

		&__description {
			display: inline-block;
			width: 420px;
			white-space: normal;
			font-size: 17px;
			font-weight: 500;
			line-height: 20px;
		}

		&__content {
			font-size: 0;
			padding: 0;
			margin-bottom: 106px;

			p {
				line-height: 19px;
				margin: 0 0 20px;

				strong {
					font-weight: 400;
				}
			}
		}
		
		&__services {
			padding-left: 27px;
			margin-bottom: 82px;
		}

		&__col {
			display: inline-block;
			vertical-align: top;
			width: 477px;
			font-size: 16px;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
				width: 465px;
				padding-right: 10px;
			}
		}

		&__footer {
			position: relative;
			margin-bottom: 81px;
		}
	}

	&._partners {
	}

	&._partners & {
		&__wrapper {
			padding-top: 135px;
		}

		&__heading {
			padding-bottom: 0;
		}

		&__title {
			line-height: 91px;
		}

		&__subtitle {
			line-height: normal;
			padding-right: 112px;
		}

		&__content {
			width: 750px;
			margin-bottom: 65px;
		}

		&__partners {
			margin-bottom: 65px;
		}
	}
}