.services {
	display: inline-block;
	position: relative;
	text-align: left;
	border-top: 3px solid #000;
	width: 720px;
	padding-top: 39px;

	&__overlay {
		position: absolute;
		bottom: 0;
		left: -50px;
		right: -210px;
		height: 0;
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 86%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(37%,rgba(255,255,255,1)), color-stop(86%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 86%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 86%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 86%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 86%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

		z-index: 5;
	}

	&__row {
		font-size: 0;
		white-space: nowrap;
		margin-left: -22px;
		margin-bottom: 52px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item {
		font-weight: 400;
		display: inline-block;
		position: relative;
		margin-right: 120px;

		&:nth-child(2n) {
			margin-right: 97px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: -40px;
			left: 22px;
			background: #00CC00;
			width: 3px;
			height: 29px;
		}

		&-icon {
			display: inline-block;
			vertical-align: middle;
			width: 50px;
			height: 50px;
			margin-right: 20px;
			
		}

		&-label {
			display: inline-block;
			vertical-align: middle;
			font-size: 15px;
			font-weight: 400;
			width: 180px;
			white-space: normal;
			line-height: 18px;
		}
	}

	&._green {
		border-top-color: #00CC00;
	}

	&._green & {
		&__item {

			&:before {
				background: #00CC00;
			}

			&-icon {

			}

			&-label {
				color: #00CC00;
			}
		} 
	}
}