mixin partners()
	.partners
		+partner('partners__item', './images/partners/citibank.png', 'Ситибанк +7 495 775-5005 Москва, ул. Гашека, дом 8-10, стр. 1')
		+partner('partners__item', './images/partners/alfa.png', 'Альфа-банк +7 495 620-91-91, +7 495 78-888-78 Москва, ул. Каланчевская, 27.')
		+partner('partners__item', './images/partners/airmalta.png', 'Эйр Мальта (+7 495) 744-01-07, 225-92-48 117593, г. Москва, ул. Айвазовского, д. 1А, ЗАО «Глонасс» Терминал F, 6 этаж, офис № 6.10 “UTG Aviation services”')
		+partner('partners__item', './images/partners/vladivostok.gif', 'Владивосток Авиа 800 444-55-55, (+7 495) 223-55-55 Москва, ул. Петровка, д. 20/1')
		+partner('partners__item', './images/partners/citibank.png', 'Ситибанк +7 495 775-5005 Москва, ул. Гашека, дом 8-10, стр. 1')
		+partner('partners__item', './images/partners/alfa.png', 'Альфа-банк +7 495 620-91-91, +7 495 78-888-78 Москва, ул. Каланчевская, 27.')
		+partner('partners__item', './images/partners/airmalta.png', 'Эйр Мальта (+7 495) 744-01-07, 225-92-48 117593, г. Москва, ул. Айвазовского, д. 1А, ЗАО «Глонасс» Терминал F, 6 этаж, офис № 6.10 “UTG Aviation services”')
		+partner('partners__item', './images/partners/vladivostok.gif', 'Владивосток Авиа 800 444-55-55, (+7 495) 223-55-55 Москва, ул. Петровка, д. 20/1')
		+partner('partners__item', './images/partners/citibank.png', 'Ситибанк +7 495 775-5005 Москва, ул. Гашека, дом 8-10, стр. 1')
		+partner('partners__item', './images/partners/alfa.png', 'Альфа-банк +7 495 620-91-91, +7 495 78-888-78 Москва, ул. Каланчевская, 27.')
		+partner('partners__item', './images/partners/airmalta.png', 'Эйр Мальта (+7 495) 744-01-07, 225-92-48 117593, г. Москва, ул. Айвазовского, д. 1А, ЗАО «Глонасс» Терминал F, 6 этаж, офис № 6.10 “UTG Aviation services”')
		+partner('partners__item', './images/partners/vladivostok.gif', 'Владивосток Авиа 800 444-55-55, (+7 495) 223-55-55 Москва, ул. Петровка, д. 20/1')