mixin lang-switcher()
	.lang-switcher(onclick="return {'langSwitcher': {}}").js-widget
		select.lang-switcher__select
			option(data-url="//businesszal.ru") рус
			option(data-url="//en.businesszal.ru") eng
			option(data-url="//fr.businesszal.ru") fra