.logo {
	position: relative;
	display: inline-block;
	background: #66CCFF url("../images/logo.png") no-repeat center center;
	width: 117px;
	height: 136px;
	padding-bottom: 22px;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #336699;
	}
}