extends ../layouts/inner
block content
	section.section._partners
		.section__wrapper.page__wrapper
			.section__heading
				h1.section__title Партнеры
				h2.section__subtitle._no_uppercase VIP-International
			.section__content
					p 
						| Партнеры VIP-International - это (общий вступительный текст, общий вступительный 
						| текстобщий вступительный текстобщий вступительный текстобщий вступительный текстобщий 
			.section__partners
				+partners

