mixin infoblock(className)
	.infoblock(class=className)
		p 
			| В зале «Классик» обслуживаются держатели карт: “Priority Pass”, “City Gold”, 
			| “Diners Club”.
		p
			| Телефон зала: +7 (495) <strong> 578-8128 </strong>.