mixin menu(className)
	.menu(class=className)
		a.menu__link(href="#", target="_blank") Табло Шереметьево
		a.menu__link(href="#",) Партнеры
		a.menu__link(href="#") Вход для партнеров
		a.menu__link(href="#") рус

