mixin menu(className)
	.menu(class=className)
		a.menu__link(href="http://www.svo.aero/timetable/today/", target="_blank") Табло Шереметьево
		a.menu__link._active(href="./partners.html",) Партнеры
		a.menu__link(href="#", target="_blank") Вход для партнеров
		span.menu__link рус

